.sidepeek-cart {
    position: fixed;
    top: 0px;
    right: -600px;
    width: 290px;
    height: 100%;
    padding: 40px 40px 40px 40px;
    background-color: #ffffff;
    transition: right 0.4s ease;
    z-index: 1100;
    overflow-y: auto;
    font-family: 'TheBoldFont';
    color: #fff9ef;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.sidepeek-cart--open {
    right: 0px;
}

.sidepeek-cart_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3 {
    font-family: 'TheBoldFont', Impact;
    color: #9db7aa;
    margin: 0;
}

.exit-button {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    padding: 1px;
}

.exit-icon {
    color:#9db7aa;
    transition: color 0.3s ease;
}

.exit-icon:hover {
    color: #eeaeae;
}

.divider {
    position: relative;
    padding-top: 20px;
  }
  
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #9db7aa;
}

.sidepeek-cart_content {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.sidepeek-cart_checkout-button-wrapper {
    width: 100%;
    margin-top: auto;
    padding-top: 20px;
}

.checkout-button {
    width: 100%;
    height: 50px;
    background-color: #9db7aa;
    border: none;
    color: #fff9ef;
    position: absolute;
    bottom: 80px;
    font-family: 'TheBoldFont', Impact;
    letter-spacing: 2px;
    border-radius: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: medium;
    padding: 18px;
}

.checkout-button:hover {
    background-color: #eeaeae;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}