.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .product-card {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }

  .heart-icon {
    color: #ffffff;
  }