@font-face {
  font-family: 'TheBoldFont';
  src: url(./assets/The-Bold-Font.woff) format('woff');
}

@font-face {
  font-family: 'LexandDecaLight';
  src: url(./assets/LexendDeca-Light.woff) format('woff');
}

@font-face {
  font-family: 'LexandDeca';
  font-weight: normal;
  src: url(./assets/LexendDeca-Regular.woff) format('woff');
}

@font-face {
  font-family: 'LexandDeca';
  font-weight: bold;
  src: url(./assets/LexendDeca-Bold.woff) format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff9ef;

}